.centratura-header {
  width: 70%;
  padding: 60px;
}

.centratura1 {
  width: 70%;
  padding: 60px;
}

.centratura2 {
  width: 60%;
  padding: 60px;
}

.centratura-sx {
  width: 70%;
  @include simple-flex;
  //justify-content: flex-start;
}

.centratura-dx {
  width: 70%;
  @include simple-flex;
  //justify-content: flex-end;
  flex-direction: row-reverse;
}
