/* Regole generali */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin simple-flex {
  display: flex;
}

@mixin flex-sect {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-subsect {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-start {
  display: flex;
  justify-content: start;
}

@mixin flex-end {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
}

/*titoli sezioni ripetuti*/
@mixin titleSect {
  font-size: 22px;
  color: #58402c;
}

/*intestazioni sezioni*/
// @mixin int-sez {
//     font-size: ;
// }

li {
  list-style: none;
}
