/* Regole generali */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

@mixin simple-flex {
  display: flex;
}

@mixin flex-sect {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-subsect {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-start {
  display: flex;
  flex-direction: row;
}

@mixin flex-end {
  display: flex;
  flex-direction: row-reverse;
}

/*titoli sezioni ripetuti*/
@mixin titleSect {
  font-size: 22px;
  color: $bgWhite;
  line-height: 35px;
}

/*titoli sezioni ripetuti*/
@mixin text-features {
  font-size: 22px;
  color: $colTextSmall;
  line-height: 35px;
}

/*titoli sezioni ripetuti*/
@mixin text-features-small {
  font-size: 18px;
  font-weight: normal;
  color: $colText;
  line-height: 35px;
}

/*intestazioni sezioni*/
// @mixin int-sez {
//     font-size: ;
// }

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@mixin button {
  border-radius: 10px;
  padding: 5px;
}

@mixin button-purple {
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color: $bgPink;
  color: $bgWhite;
}

@mixin button-hover {
  button:hover {
    background-color: $colTextSmall;
    color: white;
  }
}
