footer {
  background-color: $bgPink;
  @include flex-sect;
  //min-height: 500px;
  padding: 80px 0;
  width: 100%;
  #cont-cards {
    @include simple-flex;
    justify-content: space-between;
    width: 100%;
    min-height: 400px;
    //border: 1px solid black;

    #left-card {
      padding: 5px 0;
      width: 30%;
      min-height: 60px;
      //border: 1px solid black;
      @include simple-flex;
      justify-content: space-between;

      #logo-small {
        // width: 30%;
        height: 50px;
        img {
          width: 45px;
          height: 45px;
        }
      }
      #text-logo {
        width: 80%;
        color: $bgWhite;
        line-height: $lineHp;

        a {
          color: $colText;
        }
      }
    }
    #right-card {
      width: 68%;
      min-height: 400px;
      //border: 1px solid black;
      @include simple-flex;

      .cards {
        padding: 5px;
        width: 30%;
        min-height: 300px;
        //border: black 1px solid;

        h4 {
          color: $bgWhite;
          font-size: $fontBig;
        }

        ul {
          margin-top: $mgblocBot;
        }

        li {
          margin-bottom: $mgtxtBot;
          margin-top: $mgtxtTop;

          a {
            color: $bgWhite;
          }
        }
      }
    }
  }
}
