header {
  @include flex-sect;
  background-color: $bgWhite;
  width: 100%;
  height: 60px;
  margin-top: $mgblocTop;
  /*debug*/

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    #logo-nav {
      width: 45%;
      img {
        max-width: 100%;
        height: 40px;
      }
    }
    .nav-voci {
      @include flex-subsect;
      justify-content: space-between;
      color: $colTextSmall;

      &:last-child li {
        border: 1px solid blue;
        @include button;
      }
    }
  }
  hr {
    color: $bgPink;
    margin-top: $mgtxtTop;
  }
}
