header {
  background-color: $bgWhite;
  width: 100%;
  height: 60px;

  /*debug*/

  nav {
    display: flex;
    justify-content: space-between;
    height: 60px;

    #logo-nav {
      width: 20%;
    }
    ul {
      width: 40%;
      @include flex-subsect;
    }
  }
}
