#jumbotron {
  #jumbo-cont {
    @include simple-flex;
    width: 100%;
    border: 1px solid black;
    min-height: 400px;

    #j-left {
      width: 50%;
      border: 1px solid black;
      height: 400px;

      h1 {
        font-size: 45px;
      }

      #sign-jumbo {
        @include simple-flex;
      }
    }

    #j-right {
      width: 50%;
      border: 1px solid black;
      height: 400px;
    }
  }
}
