#jumbotron {
  @include flex-sect;
  min-height: calc(100vh - 90px);
  #jumbo-cont {
    @include simple-flex;
    justify-content: space-between;
    min-height: 300px;
    width: 100%;
    // border: 1px solid black;

    #j-left {
      width: 45%;
      //border: 1px solid black;
      //min-height: 400px;

      h1 {
        font-size: 45px;
        color: $bgTest;
        margin-top: $mgblocTop;
        margin-bottom: $mgblocBot;
      }

      h3 {
        color: $bgPink;
      }

      #sign-jumbo {
        @include simple-flex;
        align-items: center;
        margin-top: $mgblocTop;
        button,
        p {
          margin-right: $mgtxtRight;
          margin-bottom: $mgtxtBot;
        }
        button {
          @include button-purple;
        }
      }

      p {
        font-size: $fontSmall;
      }
    }

    #j-right {
      width: 50%;
      //border: 1px solid black;
      //min-height: 400px;

      img {
        max-width: 100%;
      }
    }
  }
}
