#testimonianze {
  @include flex-sect;
  width: 100%;
  //min-height: 600px;
  background-color: $bgTest;

  .test-cont {
    width: 70%;
    margin: auto;
    text-align: center;

    #intest-test {
      h2 {
        font-size: 32px;
        color: $bgWhite;
      }
    }
  }

  #textarea {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: $mgblocTop;
    padding: 15px;

    border: 1px solid black;
    background-color: $bgPink;
    opacity: 0.8;
    border-radius: 5px;
    border: 1px solid $bgPink;
    text-align: left;

    p {
      margin-bottom: $mgtxtCreditBot;
      color: $bgWhite;
      line-height: 20px;
    }
    #credits {
      width: 45%;
      @include simple-flex;
      justify-content: space-between;
      height: 40px;

      img {
        width: 35px;
        height: 35px;
      }

      #author {
        height: 40px;
        p {
          font-size: $fontSmall;
          margin-bottom: 1px;
        }
      }
    }
  }
  #sign-credit {
    @include flex-sect;
    align-items: center;
    margin-top: $mgblocTop;
    button {
      @include button-purple;
      margin: $mgtxtCreditBot;
    }
    p {
      color: $bgWhite;
    }
  }
  p {
    color: $bgWhite;
  }
}
