/*variabile colore sez bianca e sez rosa*/
$bgWhite: #ffffff;
$bgPink: #7f14d4;
$bgTest: #4466d4;
$colText: #040f0f;
$colTextSmall: #0e14ee;

/*margini variabili testo*/
$mgtxtTop: 10px;
$mgtxtBot: 10px;
$mgtxtLeft: 10px;
$mgtxtRight: 10px;

/*margini variabili testo*/
$mgtxtCreditTop: 20px;
$mgtxtCreditBot: 20px;
$mgtxtCreditLeft: 20px;
$mgtxtCreditRight: 20px;

/*margini tra blocchi*/
$mgblocTop: 30px;
$mgblocBot: 30px;
$mgblocLeft: 30px;
$mgblocRight: 30px;

/*font size small*/
$fontSmall: 12px;
$fontMed: 16px;
$fontBig: 20px;

/*line height p */
$lineHp: 22px;
