/*variabile colore sez bianca e sez rosa*/
$bgWhite: #ffffff;
$bgPink: #7f14d4;
$bgTest: #4466d4;
$colText: #040f0f;
$colTextSmall: #0e14ee;

/*margini variabili testo*/
$mgtxtTop: 10px;
$mgtxtBot: 10px;
$mgtxtLeft: 10px;
$mgtxtRight: 10px;

/*margini tra blocchi*/
$mgblocTop: 30px;
$mgblocBot: 30px;
$mgblocLeft: 30px;
$mgblocRight: 30px;
