<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name=viewport content=width=device-width, initial-scale=1.0 />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <div id="container">
      <!-- Header con navbar -->
      <header>
        <!-- centratura di sezione -->
        <div class="centratura-header">
          <nav>
            <div id="logo-nav">
              <img src="../img/logo teambit.png" alt="" />
            </div>
            <div v-for="voci in nav" class="nav-voci">
              <ul>
                <li>
                  <i v-if="voci.name === 'Sign up'" class="fab fa-google"></i
                  ><a href=""> {{voci.name}} </a>
                </li>
              </ul>
            </div>
          </nav>
          <hr />
        </div>
      </header>

      <!-- Jumbotron -->
      <section id="jumbotron">
        <div class="centratura1">
          <div id="jumbo-cont">
            <aside id="j-left">
              <h1>Understand, recognize and develop your people</h1>
              <h3>
                Teambit helps teams create a high performing culture with
                regular feedback.
              </h3>
              <div id="sign-jumbo">
                <button>
                  <i class="fab fa-google"></i> Sign up with Google
                </button>
                <p>or</p>
                <button><i class="fab fa-slack"></i> Sign up with Slack</button>
              </div>
              <p>or use your email address</p>
            </aside>
            <aside id="j-right">
              <img src="../img/head.jpg" alt="" />
            </aside>
          </div>
        </div>
      </section>

      <!-- Doppia sezione prima e dopo Teambit -->
      <main id="central-sez">
        <!-- Inizio prima sezione -->
        <div class="centratura2">
          <!-- sez before-teambit -->
          <section id="before-teambit">
            <div class="up-sect">
              <h3>
                Traditional people processes lead to disengagement and turnover.
              </h3>
            </div>
            <div class="down-sect">
              <!-- Immagini sticker before teambit -->
              <div class="sticker">
                <img src="../img/hardcore.png" alt="" />
                <h5>They are hardcore, formal and disconnected</h5>
              </div>
              <div class="sticker">
                <img src="../img/nofeedback.png" alt="" />
                <h5>They don't encourage regular feedback</h5>
              </div>
              <div class="sticker">
                <img src="../img/notsafe.png" alt="" />
                <h5>They don't make it safe to speak up</h5>
              </div>
              <div class="sticker">
                <img src="../img/before.png" alt="" />
              </div>
            </div>
          </section>
          <hr />

          <section id="after-teambit">
            <!-- Titolo parte after -->
            <div class="up-sect">
              <h3>
                It doesn't have to be like that. Teambit is a modern solution
                that teammates love.
              </h3>
            </div>
            <!-- Parte sotto con immagini -->
            <div class="down-sect">
              <!-- Immagini sticker before teambit -->
              <div class="sticker">
                <img src="../img/lightweight.png" alt="" />
                <h5>It's lightweight fun and interconnected</h5>
              </div>
              <div class="sticker">
                <img src="../img/feedbacksuggestions.png" alt="" />
                <h5>It encourages regular feedback with contextual requests</h5>
              </div>
              <div class="sticker">
                <img src="../img/safe.png" alt="" />
                <h5>It creates a safe environment for dialog</h5>
              </div>
              <div class="sticker">
                <img src="../img/after.png" alt="" />
              </div>
            </div>
            <div id="final-text">
              <h3>Here is how it works</h3>
            </div>
          </section>
        </div>
      </main>

      <!-- Macro sezione con sezioni sfalsate a coppia -->
      <main class="macro-features">
        <!-- sezione 1 sx -->
        <section class="sez-sx">
          <div class="centratura-sx">
            <aside class="sx">
              <div class="left-img">
                <img src="../img/employee-feedback.jpg" alt="" />
              </div>
              <div class="right-text">
                <h3>Feedback to help teammates improve</h3>
                <h5>
                  Empower your teammates to know in real time what they are
                  doing well and what they need to improve.
                </h5>
                <a href="">Learn more</a>
                <div class="undertext-img">
                  <img src="../img/communication.jpg" alt="" />
                </div>
              </div>
            </aside>
          </div>
        </section>
        <!-- sezione 2 dx -->
        <section class="sez-dx">
          <div class="centratura-dx">
            <aside class="dx">
              <div class="right-img">
                <img src="../img/employee-survey.jpg" alt="" />
              </div>
              <div class="left-text">
                <h3>
                  Surveys to help the team be better
                </h3>
                <h5>
                  Surveys to help the team be better Get real-time insights into
                  your team with research-backed, lightweight and regular
                  surveys.
                </h5>
                <a href="">Learn more</a>
                <div class="undertext-img">
                  <img src="../img/insights.jpg" alt="" />
                </div>
              </div>
            </aside>
          </div>
        </section>
        <!-- sezione 3 sx -->
        <section class="sez-sx">
          <div class="centratura-sx">
            <aside class="sx">
              <div class="left-img">
                <img src="../img/performance-review.jpg" alt="" />
              </div>
              <div class="right-text">
                <h3>Reviews to help teammates get a fair evaluation</h3>
                <h5>
                  Make better compensation and promotion decisions with
                  objective and quick performance reviews.
                </h5>
                <a href="">Learn more</a>
                <div class="undertext-img">
                  <img src="../img/review.jpg" alt="" />
                </div>
              </div>
            </aside>
          </div>
        </section>
        <!-- sezione 4 dx -->
        <section class="sez-dx">
          <div class="centratura-dx">
            <aside class="dx">
              <div class="right-img">
                <img src="../img/employee-recognition.jpg" alt="" />
              </div>
              <div class="left-text">
                <h3>
                  Praise to help teammates feel valued
                </h3>
                <h5>
                  Make it a habit to recognize and praise people who do great
                  work.
                </h5>
                <a href="">Learn more</a>
                <div class="undertext-img last-img">
                  <img src="../img/recognition.jpg" alt="" />
                </div>
              </div>
            </aside>
          </div>
        </section>
      </main>

      <!-- Sezione Testimonianze -->
      <section id="testimonianze">
        <div class="centratura1">
          <main class="test-cont">
            <div id="intest-test">
              <h2>
                See Teambit for yourself. <br />
                Get started in seconds
              </h2>
            </div>
            <div id="textarea">
              <p>
                We are experiencing what Gallup calls 'an employee engagement
                crisis'. Just one-third of people at work are engaged.
              </p>
              <p>
                To improve performance and engagement companies rely on the same
                principles as industrial-age factories. But all those annual
                performance reviews and hundred-question surveys don't work
                anymore. People want regular feedback. Leaders who don't embrace
                this change end up with misaligned, disengaged and dwindling
                team.
              </p>
              <p>
                We designed Teambit to change that. It empowers teams to make
                feedback a daily habit. Everybody knows what they are doing well
                and what they need to improve, leading to better performing,
                engaged and happier teams.
              </p>
              <p>
                We are on a mission to make worklife exciting. Come join us.
              </p>
              <div id="credits">
                <img src="../img/alex.png" alt="" />
                <img src="../img/bohdan.png" alt="" />
                <div id="author">
                  <p>Alex and Bohdan</p>
                  <p>Co-Founders at Teambit</p>
                </div>
              </div>
            </div>
            <div id="sign-credit">
              <button><i class="fab fa-google"></i> Sign up with Google</button>
              <p>or</p>
              <button><i class="fab fa-slack"></i> Sign up with Slack</button>
            </div>
            <p>or use your email address &#8594;</p>
          </main>
        </div>
      </section>

      <!-- Footer -->
      <footer>
        <section class="centratura1">
          <main id="cont-cards">
            <div id="left-card">
              <div id="logo-small">
                <img src="../img/logo-small.svg" alt="" />
              </div>
              <div id="text-logo">
                <h5>
                  <a href="">Teambit</a> helps teams create high performing
                  cultures by making feedback a daily habit.
                </h5>
              </div>
            </div>
            <div id="right-card">
              <div class="cards" v-for="voci in footer">
                <h4>{{voci.name}}</h4>
                <ul>
                  <li v-for="link in voci.links">
                    <a href=""> {{link}} </a>
                  </li>
                </ul>
              </div>
              <!-- <div class="cards"></div> -->
              <!-- <div class="cards"></div> -->
              <!-- <div class="cards"></div> -->
              <!-- <div class="cards"></div> -->
            </div>
          </main>
        </section>
      </footer>
    </div>
    <script src="app.js"></script>
  </body>
</html>
